.el-header {
    padding: 0!important;
    height: 48px!important;
}

.MHelder {
    height: 48px;
    line-height: 48px;
    background: #2383EB;
    color: #BAD7F8;
    cursor: default;
    .title {
        font-size: 16px;
        text-align: center;
        span {
            cursor: pointer;
            margin-left: 20px;
        }
    }
}